In [1]:
import os
import pandas as pd

In [2]:
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')

In [6]:
train.head()

,ID,Date,Time,Headline,News,Source,Field,Reaction/Sentiment,Polarity,Subjectivity
0,99248,2002-04-02,00:00:00,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,online_post_1637,Politics,0.330012,0.000000,0.000000
1,10423,2008-09-20,00:00:00,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",new_channel_175,Finance,0.517397,0.100000,0.200000
2,18828,2012-01-28,00:00:00,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",new_channel_175,Finance,0.439257,0.000000,0.041667
3,27788,2015-03-01,00:06:00,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,NaN,Finance,0.449774,-0.166667,0.166667
4,27789,2015-03-01,00:11:00,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,new_channel_1500,Finance,0.512907,0.133333,0.380556

In [8]:
train.shape

(2406, 10)

In [5]:
train.isnull().sum()

ID                     0
Date                  32
Time                  54
Headline              34
News                  45
Source                46
Field                 29
Reaction/Sentiment     0
Polarity               0
Subjectivity           0
dtype: int64

In [9]:
train1 = train.dropna()

In [11]:
print(train.shape, train1.shape, test.shape)

(2406, 10) (2166, 10) (1022, 9)

In [12]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2166 entries, 0 to 2405
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2166 non-null   int64
 1   Date                2166 non-null   object
 2   Time                2166 non-null   object
 3   Headline            2166 non-null   object
 4   News                2166 non-null   object
 5   Source              2166 non-null   object
 6   Field               2166 non-null   object
 7   Reaction/Sentiment  2166 non-null   float64
 8   Polarity            2166 non-null   float64
 9   Subjectivity        2166 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 186.1+ KB