In [1]:
# import seaborn as sns
# import random as rand
# import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import RobustScaler, PowerTransformer
# from sklearn.linear_model import LogisticRegression, SGDClassifier
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.model_selection import train_test_split, StratifiedKFold, RandomizedSearchCV
# from sklearn.pipeline import Pipeline
# from sklearn.svm import LinearSVC
# from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
# from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve, auc
import pandas as pd
# import warnings
# warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('Insurance_Cross_Selling/train_df.csv')
test_df = pd.read_csv('Insurance_Cross_Selling/test_df.csv')

In [3]:
print(train_df.shape)
print(test_df.shape)

(11504798, 16)
(7669866, 15)

PreProcessing

In [4]:
categorical_features = ['Gender','Vehicle_Age','Vehicle_Damage']
numerical_features = ['Annual_Premium']

In [5]:
# X, y = train_df.drop('Response',axis=1), train_df['Response']
# X1 = test_df

In [6]:
categorical_data_train = train_df[categorical_features]
numerical_data_train = train_df[numerical_features]

categorical_data_test = test_df[categorical_features]
numerical_data_test = test_df[numerical_features]

In [7]:
print(categorical_data_train.shape, numerical_data_train.shape,
      categorical_data_test.shape, numerical_data_test.shape)

(11504798, 3) (11504798, 1) (7669866, 3) (7669866, 1)

In [8]:
# Encode categorical_features
encoder = OrdinalEncoder()

# Scale numerical features
scaler = RobustScaler()

In [9]:
encoded_categorical_data = encoder.fit_transform(categorical_data_train)

scaled_numerical_data = scaler.fit_transform(numerical_data_train)

In [10]:
encoded_categorical_test = encoder.transform(categorical_data_test)

scaled_numerical_test = scaler.transform(numerical_data_test)

In [11]:
# encoded_categorical_data, # scaled_numerical_data

train_df['Gender'] = encoded_categorical_data[:,0]
train_df['Vehicle_Age'] = encoded_categorical_data[:,1]
train_df['Vehicle_Damage'] = encoded_categorical_data[:,2]

train_df['Annual_Premium'] = scaled_numerical_data[:,0]

In [12]:
train_df.head()

,Gender,Age,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,special_channel_152.0,special_channel_26.0,special_channels,is_young_driver,is_old_driver,is_special_region
0,1.0,21,35.0,0,0.0,1.0,2.347749,124.0,187,0,0,0,0,1,0,0
1,1.0,43,28.0,0,2.0,1.0,1.911034,26.0,288,1,0,1,1,0,0,1
2,0.0,25,14.0,1,1.0,0.0,0.438761,152.0,254,0,1,0,1,0,0,0
3,0.0,35,1.0,0,0.0,1.0,-2.059687,156.0,76,0,0,0,0,0,0,0
4,0.0,36,15.0,1,0.0,0.0,0.008960,152.0,294,0,1,0,1,0,0,0

In [13]:
# encoded_categorical_test, # scaled_numerical_test

test_df['Gender'] = encoded_categorical_test[:,0]
test_df['Vehicle_Age'] = encoded_categorical_test[:,1]
test_df['Vehicle_Damage'] = encoded_categorical_test[:,2]

test_df['Annual_Premium'] = scaled_numerical_test[:,0]

In [14]:
test_df.head()

,Gender,Age,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,special_channel_152.0,special_channel_26.0,special_channels,is_young_driver,is_old_driver,is_special_region
0,0.0,20,47.0,0,1.0,0.0,-2.059687,160.0,228,0,0,0,1,0,0
1,1.0,47,28.0,0,0.0,1.0,0.399252,124.0,123,0,0,0,0,0,1
2,1.0,47,43.0,0,0.0,1.0,-2.059687,26.0,271,0,1,1,0,0,0
3,0.0,22,47.0,1,1.0,0.0,-0.516580,152.0,115,1,0,1,1,0,0
4,1.0,51,19.0,0,0.0,0.0,0.161634,124.0,148,0,0,0,0,0,0

In [15]:
print(train_df.shape)
print(test_df.shape)

(11504798, 16)
(7669866, 15)

In [16]:
train_df.to_csv('Insurance_Cross_Selling/train_transformed.csv',index=False)
print('*'*8)
test_df.to_csv('Insurance_Cross_Selling/test_transformed.csv',index=False)

********