In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file = '/home/mytsl02451/New_folder/bank_churn/Churn_Modelling.csv'
df = pd.read_csv(file)

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.shape

(10000, 14)

In [5]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.drop(columns=['RowNumber',  'CustomerId',  'Surname'],inplace=True)

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [10]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [11]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [12]:
print(df.columns)
df.head()

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_Germany',
       'Geography_Spain', 'Gender_Male'],
      dtype='object')

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [13]:
X = df.drop(columns=['Exited'])
y = df['Exited'].values

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size=0.2, random_state=0)

In [15]:
print('X_train :',len(X_train))
print('X_test :',len(X_test))
print('y_train :',len(y_train))
print('y_test :',len(y_test))

X_train : 8000
X_test : 2000
y_train : 8000
y_test : 2000

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_sclaed = scaler.transform(X_test)

In [17]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

2023-04-08 12:27:02.135925: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-08 12:27:02.297289: I tensorflow/core/util/port.cc:104] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-04-08 12:27:02.300615: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-04-08 12:27:02.300632: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-04-08 12:27:02.942051: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-04-08 12:27:02.942113: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-04-08 12:27:02.942120: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [18]:
model = Sequential()

model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(11,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

2023-04-08 12:27:04.924742: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2023-04-08 12:27:04.924768: W tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:265] failed call to cuInit: UNKNOWN ERROR (303)
2023-04-08 12:27:04.924789: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (MYTSL02451): /proc/driver/nvidia/version does not exist
2023-04-08 12:27:04.925016: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 11)                132

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 276
Trainable params: 276
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['Accuracy'])

In [21]:
history = model.fit(X_train_scaled,y_train, epochs=100, validation_split=0.2) #epochs=10

Epoch 1/100
200/200 [==============================] - 1s 2ms/step - loss: 0.4982 - Accuracy: 0.7958 - val_loss: 0.4895 - val_Accuracy: 0.7969
Epoch 2/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4788 - Accuracy: 0.7958 - val_loss: 0.4680 - val_Accuracy: 0.7969
Epoch 3/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4557 - Accuracy: 0.7958 - val_loss: 0.4484 - val_Accuracy: 0.7969
Epoch 4/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4387 - Accuracy: 0.7958 - val_loss: 0.4381 - val_Accuracy: 0.7956
Epoch 5/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4304 - Accuracy: 0.8030 - val_loss: 0.4347 - val_Accuracy: 0.8000
Epoch 6/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4272 - Accuracy: 0.8039 - val_loss: 0.4337 - val_Accuracy: 0.8044
Epoch 7/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4259 - Accuracy: 0.8050 - val_loss: 0.4329 - val_Accuracy: 0.8075
Epoch 8/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4249 - Accuracy: 0.8041 - val_loss: 0.4326 - val_Accuracy: 0.8087
Epoch 9/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4248 - Accuracy: 0.8062 - val_loss: 0.4320 - val_Accuracy: 0.8050
Epoch 10/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4240 - Accuracy: 0.8094 - val_loss: 0.4314 - val_Accuracy: 0.8069
Epoch 11/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4234 - Accuracy: 0.8102 - val_loss: 0.4307 - val_Accuracy: 0.8069
Epoch 12/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4225 - Accuracy: 0.8108 - val_loss: 0.4299 - val_Accuracy: 0.8100
Epoch 13/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4218 - Accuracy: 0.8123 - val_loss: 0.4291 - val_Accuracy: 0.8138
Epoch 14/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4211 - Accuracy: 0.8139 - val_loss: 0.4282 - val_Accuracy: 0.8150
Epoch 15/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4200 - Accuracy: 0.8172 - val_loss: 0.4271 - val_Accuracy: 0.8119
Epoch 16/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4190 - Accuracy: 0.8172 - val_loss: 0.4257 - val_Accuracy: 0.8169
Epoch 17/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4175 - Accuracy: 0.8205 - val_loss: 0.4243 - val_Accuracy: 0.8225
Epoch 18/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4162 - Accuracy: 0.8208 - val_loss: 0.4228 - val_Accuracy: 0.8225
Epoch 19/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4148 - Accuracy: 0.8228 - val_loss: 0.4211 - val_Accuracy: 0.8244
Epoch 20/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4128 - Accuracy: 0.8258 - val_loss: 0.4196 - val_Accuracy: 0.8238
Epoch 21/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4113 - Accuracy: 0.8272 - val_loss: 0.4171 - val_Accuracy: 0.8250
Epoch 22/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4091 - Accuracy: 0.8278 - val_loss: 0.4149 - val_Accuracy: 0.8244
Epoch 23/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4068 - Accuracy: 0.8314 - val_loss: 0.4127 - val_Accuracy: 0.8306
Epoch 24/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4044 - Accuracy: 0.8316 - val_loss: 0.4106 - val_Accuracy: 0.8300
Epoch 25/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4022 - Accuracy: 0.8338 - val_loss: 0.4084 - val_Accuracy: 0.8319
Epoch 26/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3994 - Accuracy: 0.8345 - val_loss: 0.4053 - val_Accuracy: 0.8350
Epoch 27/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3970 - Accuracy: 0.8377 - val_loss: 0.4025 - val_Accuracy: 0.8369
Epoch 28/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3943 - Accuracy: 0.8383 - val_loss: 0.4002 - val_Accuracy: 0.8381
Epoch 29/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3916 - Accuracy: 0.8388 - val_loss: 0.3976 - val_Accuracy: 0.8406
Epoch 30/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3886 - Accuracy: 0.8394 - val_loss: 0.3967 - val_Accuracy: 0.8344
Epoch 31/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3868 - Accuracy: 0.8402 - val_loss: 0.3929 - val_Accuracy: 0.8406
Epoch 32/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3841 - Accuracy: 0.8406 - val_loss: 0.3909 - val_Accuracy: 0.8425
Epoch 33/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3822 - Accuracy: 0.8438 - val_loss: 0.3887 - val_Accuracy: 0.8419
Epoch 34/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3797 - Accuracy: 0.8447 - val_loss: 0.3870 - val_Accuracy: 0.8419
Epoch 35/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3776 - Accuracy: 0.8448 - val_loss: 0.3852 - val_Accuracy: 0.8450
Epoch 36/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3761 - Accuracy: 0.8447 - val_loss: 0.3830 - val_Accuracy: 0.8450
Epoch 37/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3737 - Accuracy: 0.8459 - val_loss: 0.3817 - val_Accuracy: 0.8475
Epoch 38/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3720 - Accuracy: 0.8478 - val_loss: 0.3806 - val_Accuracy: 0.8456
Epoch 39/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3703 - Accuracy: 0.8475 - val_loss: 0.3791 - val_Accuracy: 0.8500
Epoch 40/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3685 - Accuracy: 0.8481 - val_loss: 0.3781 - val_Accuracy: 0.8494
Epoch 41/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3671 - Accuracy: 0.8478 - val_loss: 0.3764 - val_Accuracy: 0.8494
Epoch 42/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3657 - Accuracy: 0.8475 - val_loss: 0.3751 - val_Accuracy: 0.8487
Epoch 43/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3643 - Accuracy: 0.8511 - val_loss: 0.3741 - val_Accuracy: 0.8512
Epoch 44/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3630 - Accuracy: 0.8506 - val_loss: 0.3732 - val_Accuracy: 0.8506
Epoch 45/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3615 - Accuracy: 0.8505 - val_loss: 0.3721 - val_Accuracy: 0.8494
Epoch 46/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3602 - Accuracy: 0.8548 - val_loss: 0.3712 - val_Accuracy: 0.8500
Epoch 47/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3590 - Accuracy: 0.8528 - val_loss: 0.3709 - val_Accuracy: 0.8506
Epoch 48/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3581 - Accuracy: 0.8541 - val_loss: 0.3693 - val_Accuracy: 0.8512
Epoch 49/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3569 - Accuracy: 0.8547 - val_loss: 0.3693 - val_Accuracy: 0.8506
Epoch 50/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3558 - Accuracy: 0.8556 - val_loss: 0.3682 - val_Accuracy: 0.8531
Epoch 51/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3543 - Accuracy: 0.8545 - val_loss: 0.3670 - val_Accuracy: 0.8519
Epoch 52/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3540 - Accuracy: 0.8562 - val_loss: 0.3674 - val_Accuracy: 0.8525
Epoch 53/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3528 - Accuracy: 0.8561 - val_loss: 0.3667 - val_Accuracy: 0.8525
Epoch 54/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3523 - Accuracy: 0.8545 - val_loss: 0.3655 - val_Accuracy: 0.8525
Epoch 55/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3508 - Accuracy: 0.8575 - val_loss: 0.3656 - val_Accuracy: 0.8550
Epoch 56/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3502 - Accuracy: 0.8569 - val_loss: 0.3645 - val_Accuracy: 0.8531
Epoch 57/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3495 - Accuracy: 0.8567 - val_loss: 0.3631 - val_Accuracy: 0.8525
Epoch 58/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3482 - Accuracy: 0.8603 - val_loss: 0.3631 - val_Accuracy: 0.8525
Epoch 59/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3474 - Accuracy: 0.8580 - val_loss: 0.3660 - val_Accuracy: 0.8537
Epoch 60/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3478 - Accuracy: 0.8584 - val_loss: 0.3613 - val_Accuracy: 0.8531
Epoch 61/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3463 - Accuracy: 0.8591 - val_loss: 0.3616 - val_Accuracy: 0.8531
Epoch 62/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3454 - Accuracy: 0.8587 - val_loss: 0.3606 - val_Accuracy: 0.8544
Epoch 63/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3449 - Accuracy: 0.8591 - val_loss: 0.3605 - val_Accuracy: 0.8544
Epoch 64/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3436 - Accuracy: 0.8600 - val_loss: 0.3623 - val_Accuracy: 0.8544
Epoch 65/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3433 - Accuracy: 0.8606 - val_loss: 0.3597 - val_Accuracy: 0.8531
Epoch 66/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3430 - Accuracy: 0.8592 - val_loss: 0.3583 - val_Accuracy: 0.8544
Epoch 67/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3422 - Accuracy: 0.8609 - val_loss: 0.3598 - val_Accuracy: 0.8550
Epoch 68/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3417 - Accuracy: 0.8620 - val_loss: 0.3579 - val_Accuracy: 0.8569
Epoch 69/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3413 - Accuracy: 0.8603 - val_loss: 0.3590 - val_Accuracy: 0.8544
Epoch 70/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3407 - Accuracy: 0.8628 - val_loss: 0.3576 - val_Accuracy: 0.8562
Epoch 71/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3400 - Accuracy: 0.8625 - val_loss: 0.3569 - val_Accuracy: 0.8544
Epoch 72/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3393 - Accuracy: 0.8622 - val_loss: 0.3565 - val_Accuracy: 0.8575
Epoch 73/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3389 - Accuracy: 0.8622 - val_loss: 0.3560 - val_Accuracy: 0.8569
Epoch 74/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3384 - Accuracy: 0.8627 - val_loss: 0.3557 - val_Accuracy: 0.8587
Epoch 75/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3379 - Accuracy: 0.8608 - val_loss: 0.3550 - val_Accuracy: 0.8575
Epoch 76/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3374 - Accuracy: 0.8627 - val_loss: 0.3555 - val_Accuracy: 0.8544
Epoch 77/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3372 - Accuracy: 0.8641 - val_loss: 0.3545 - val_Accuracy: 0.8587
Epoch 78/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3363 - Accuracy: 0.8611 - val_loss: 0.3541 - val_Accuracy: 0.8575
Epoch 79/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3362 - Accuracy: 0.8617 - val_loss: 0.3539 - val_Accuracy: 0.8562
Epoch 80/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3361 - Accuracy: 0.8641 - val_loss: 0.3539 - val_Accuracy: 0.8587
Epoch 81/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3353 - Accuracy: 0.8633 - val_loss: 0.3531 - val_Accuracy: 0.8562
Epoch 82/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3346 - Accuracy: 0.8630 - val_loss: 0.3528 - val_Accuracy: 0.8556
Epoch 83/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3343 - Accuracy: 0.8620 - val_loss: 0.3532 - val_Accuracy: 0.8556
Epoch 84/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3342 - Accuracy: 0.8633 - val_loss: 0.3522 - val_Accuracy: 0.8550
Epoch 85/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3337 - Accuracy: 0.8622 - val_loss: 0.3520 - val_Accuracy: 0.8575
Epoch 86/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3336 - Accuracy: 0.8633 - val_loss: 0.3522 - val_Accuracy: 0.8581
Epoch 87/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3332 - Accuracy: 0.8630 - val_loss: 0.3526 - val_Accuracy: 0.8562
Epoch 88/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3326 - Accuracy: 0.8630 - val_loss: 0.3517 - val_Accuracy: 0.8569
Epoch 89/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3324 - Accuracy: 0.8625 - val_loss: 0.3515 - val_Accuracy: 0.8594
Epoch 90/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3324 - Accuracy: 0.8619 - val_loss: 0.3513 - val_Accuracy: 0.8562
Epoch 91/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3321 - Accuracy: 0.8628 - val_loss: 0.3518 - val_Accuracy: 0.8569
Epoch 92/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3320 - Accuracy: 0.8636 - val_loss: 0.3504 - val_Accuracy: 0.8606
Epoch 93/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3313 - Accuracy: 0.8637 - val_loss: 0.3513 - val_Accuracy: 0.8556
Epoch 94/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3313 - Accuracy: 0.8619 - val_loss: 0.3505 - val_Accuracy: 0.8587
Epoch 95/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3310 - Accuracy: 0.8634 - val_loss: 0.3501 - val_Accuracy: 0.8612
Epoch 96/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3308 - Accuracy: 0.8619 - val_loss: 0.3499 - val_Accuracy: 0.8594
Epoch 97/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3303 - Accuracy: 0.8641 - val_loss: 0.3501 - val_Accuracy: 0.8606
Epoch 98/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3299 - Accuracy: 0.8628 - val_loss: 0.3514 - val_Accuracy: 0.8556
Epoch 99/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3301 - Accuracy: 0.8628 - val_loss: 0.3495 - val_Accuracy: 0.8594
Epoch 100/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3296 - Accuracy: 0.8628 - val_loss: 0.3499 - val_Accuracy: 0.8594

In [45]:
# to view the weights of the layer
model.layers[2].weights

[<tf.Variable 'dense_7/kernel:0' shape=(11, 1) dtype=float32, numpy=
 array([[ 1.4786532],
        [ 1.4668144],
        [ 1.8415023],
        [ 1.6823336],
        [ 1.9780247],
        [-1.7435079],
        [-1.7289215],
        [ 1.6421887],
        [-1.6451018],
        [ 1.5255067],
        [-1.2958552]], dtype=float32)>,
 <tf.Variable 'dense_7/bias:0' shape=(1,) dtype=float32, numpy=array([-0.18052067], dtype=float32)>]

In [46]:
model.predict(X_test_sclaed)

63/63 [==============================] - 0s 973us/step

array([[0.26888797],
       [0.2153129 ],
       [0.09951095],
       ...,
       [0.1295613 ],
       [0.1406464 ],
       [0.23070297]], dtype=float32)

In [ ]:
y_pred = model.predict(X_test_sclaed)

In [47]:
# y_log = model.predict(X_test_sclaed)
# y_log
# y_pred = np.where(y_log>0.5,1,0)

63/63 [==============================] - 0s 750us/step

array([[0.26888797],
       [0.2153129 ],
       [0.09951095],
       ...,
       [0.1295613 ],
       [0.1406464 ],
       [0.23070297]], dtype=float32)

In [55]:
y_pred = y_pred.argmax(axis=-1)

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.862

In [50]:
import matplotlib.pyplot as plt

In [52]:
history.history

NameError: name 'history' is not defined

In [53]:
plt.plot(history.history['loss'])

NameError: name 'history' is not defined

In [ ]:
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])

In [ ]:
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])